{% extends "main/layout.html" %}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Наша история</h1>
        <p>Лазерная исследовательская лаборатория создана в 2018 году на территории школы при техническом и методическом содействии на основании договора о сотрудничестве ООО «Лазер-экспорт» (Директор, доктор физико-математических наук Куратев Иван Иванович) и ООО «Научные развлечения» (генеральный директор, кандидат технических наук Поваляев Олег Александрович), как модель инженерно-технической школы для проведения проектных и научных исследований в области физики лазеров и лазерных технологий, обеспечения эффективного механизма сотрудничества школы с ведущими фирмами по лазерной физике посредством интеграции урочной, внеурочной деятельности и сетевого взаимодействия, как ресурса формирования развивающей образовательной среды.</p>

<p>Цели и задачи:</p>

<p>- создание эффективной модели лазерной инженерно-технической школы;</p>

<p>- организация чтения лекционного курса по лазерной физике и лазерным технологиям о применении лазеров и другой оптической техники в современной науке и технике;</p>

<p>- организация выполнения учащимися шести учебно-исследовательских лабораторных работ по лазерной физике;</p>

<p>- привитие обучающимся и развитие компетенций по лазерной физике и лазерным технологиям;</p>

<p>- обучение старшеклассников методам сборки, юстировки современных твёрдотельных лазеров с накачкой полупроводниковыми лазерными диодами;</p>

<p>- организация сборки, юстировки и цифрового измерения характеристик непрерывных лазеров на гранате, ванадате с диодной накачкой в диапазоне мощностей выходного излучения от единиц милливатт до 6 ватт как на длине волны основной гармонике (1064 нм), так и не длине волны (532 нм) с удвоением частоты для успешного выполнения итоговых проектных исследовательских и инженерных проектов учащимися 10-11 классов профильной школы;</p>

<p>- организация производства и выпуска твердотельных лазеров с заданными параметрами по заказам сторонних образовательных учреждений;</p>

<p>- развитие интереса школьников к сфере инноваций в области лазерной и оптической техники, повышение качества образования в области физики, математики, технологии, популяризация престижа инженерных профессий;</p>

<p>- организация «умных» каникул, учебно-тренировочных сборов, конкурсов, конференций в области лазерной техники и технологий.</p>

<p>Результаты инновационной деятельности лазерной исследовательской лаборатории в 2020-2021 учебном году.</p>

<p>1. 	В результате обобщения многолетнего опыта чтения лекционного курса по лазерной физике школьникам подготовлено учебное пособие «Курс лазерной физики для школьников». В первой части пособия описаны физические принципы работы лазеров, оптических резонаторов, важнейшие применения лазеров в прикладных областях оптической техники. Вторая часть посвящена принципам организации проектной деятельности школьников в области лазерной техники и лазерных технологий.</p>

<p>2. 	Подготовлены методические указания к выполнению лабораторных работ по лазерной физике, где проводится описание шести лабораторных работ, образующих «экспериментальный минимум» необходимый для успешного выполнения итоговых проектных работ по лазерной физике. В пособие вошли работы:</p>

<p>- сборка и юстировка твердотельного лазерного излучателя с диодной накачкой;</p>

<p>- одночастотный лазер на кристалле ванадата и удвоением частоты;</p>

<p>- инфракрасный лазер на гранате с диодной накачкой для целей гравировки;</p>

<p>- лазерный интерферометр Майкельсона с цифровой регистрацией степени когерентности источников света;</p>

<p>- многоцелевая лазерная микроскопия с цифровым анализом оптических изображений;</p>

<p>- методы измерения оптических и геометрических параметров лазерных излучателей.</p>

<p>Лазерная исследовательская лаборатория сегодня имеет свыше 40 действующих лазеров, две цифровые камеры, измерительная аппаратура. В результате выполнения проектных работ созданы и действуют:</p>

<p>- лабораторный инновационный стенд для сборки, юстировки и испытания твёрдотельных лазерных излучателей с диодной накачкой;</p>

<p>- действующий экспериментальный макет лазерного цифрового просвечивающего микроскопа;</p>

<p>- лазерный интерферометр Майкельсона с цифровой регистрацией когерентности лазерных излучателей;</p>

<p>- лазерный люминесцентный микроскоп;</p>

<p>- лазерный спирограф.</p>

<p>Участие обучающихся в научных конференциях, фестивалях, конкурсах в 2020-2021 учебном году.</p>

<p>Федеральный уровень:</p>

<p>1. 	XVII Всероссийский конкурс научно-исследовательских и творческих работ молодёжи «Меня оценят в XXI веке (октябрь 2020, заочный этап) Соснова Алёна, Кушнир Юлия, 11 класс, Диплом лауреата (Тема: Многоцелевая лазерная микроскопия с цифровым анализом распределения наночастиц на оптических изображения») - 06. 11. 2020</p>

<p>2. 	XLVI Всероссийский конкурс научно-исследовательских, проектных и творческих работ обучающихся «Обретённое поколение», секция: физика.</p>

<p>Нафикова Аделина, 11 класс. Диплом лауреата. (Тема: Одночастотный лазер на ванадате с диодной накачкой и удвоением частоты для целей интерферометрии») - 26. 11. 2021;</p>

<p>Секция: технология и техническое творчество.</p>

<p>Матвиенко Диана, 11 класс. Диплом лауреата. (Тема: Проектирование инфракрасного лазера на ванадате с диодной накачкой для системы охранной сигнализации») – 26. 11. 2020; Диплом победителя очного этапа (02. 02. 2021);</p>

<p>Всероссийский конкурс научно-исследовательских, проектных и творческих работ «Обретённое поколение».</p>

<p>Секция: технология и техническое творчество</p>

<p>Голованова Мария, 10 класс. Диплом лауреата. (Тема: Проектирование непрерывного инфракрасного лазера для гравировки неметаллических изделий) - 2021 г.</p>

<p>3. 	XLVI Всероссийский конкурс научно-исследовательских, изобретательских и творческих работ обучающихся «Наука, творчество, духовность».</p>

<p>Секция: техническое творчество, физика, механика.</p>

<p>Анисимова Алёна, 11 класс. Диплом лауреата. (Тема: Лазерный люминесцентный микроскоп на базе ПЗС камеры с цифровым анализом оптических изображений») – 26. 11. 2020</p>

<p>4. 	Региональная научно-практическая конференция учащихся «Творчество юных»</p>

<p>Секция: физика.</p>

<p>Корнеева Виктория, 10 класс. Дроздова Виктория, 10 класс. Диплом победителя очного тура. (Тема: Проектирование одночастотного лазера на ванадате с диодной накачкой для целей цифровой интерферометрии») – 04. 2021. Работа опубликована в сборнике научных трудов.</p>

<p>Международный уровень.</p>

<p>1. 	XI Международный конкурс научно-технических работ школьников «Учёные будущего». Вдовина Таисия, 9 класс. Засимов Александр, 9 класс. Лауреат заочного тура, участники очного тура.</p>

<p>2. 	II Международная конференция учащихся «Научно – творческий форум». На конференцию от нашей школы было подано 10 научных работ. Оргкомитет организовал отдельную секцию «Лазерная физика», руководителем назначен педагог дополнительного образования нашей школы, кандидат технических наук, доцент Ашурбеков С. А. За организацию и успешное руководство независимой секции «Лазерная физика» Ашурбеков С. А. награждён дипломом. Три работы с этой секции отмечены дипломами победителей в номинации: «Лучшая работа, представленная на конференции».</p>

<p>Муниципальный уровень:</p>

<p>1. 	Городской конкурс научно – исследовательских, учебно – исследовательских и творческих работ (проектов) обучающихся «Грани науки и техники» (МАДИ). Анисимова Алёна, Волченкова Полина, 11 класс. Диплом III степени. Богатырёв Денис, Иванов Данил, 11 класс. Сертификат участника.</p>

<p>Опубликованные работы.</p>

<p>По результатам работы секции «Лазерная физика» II Международной конференции «Научно-творческий форум» по рекомендации оргкомитета 10 работ обучающихся в соавторстве с научными руководителями опубликованы в электронном образовательном журнале «Современный школьный вестник» /school-journal. ru/journal/issue-9/ - 2021. - №5.</p>

<p>В сборниках тезисов научных работ Всесоюзных конференций в 2020-2021 году опубликованы 12 тезисов в соавторстве с научными руководителями.</p>

<p>Работа Корнеевой Виктории и Дроздовой Виктории, 10 класс, принята в печать в журнал научных работ конференции с переводом аннотации и названия работы на английский язык и присвоением УДК.</p>
    </div>
{% endblock %}