{% extends "main/layout.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2>Ждём всех!</h2>
									</div>
								</header>
								<a href="#" class="image featured"><img src="{% static 'main/img/n3.JPG' %}" alt="" /></a>
								<p>В школе продолжает работу кружок «Лазерная лаборатория». Программа направлена на формирование ключевых компетенций в области физики, лазерной физике, также он дает возможность охвата широкого комплекса общеобразовательных и общекультурных проблем. С помощью данного курса можно добиться интеграции содержания образования, формировать межпредметные знания и умения, развивать социальные навыки с учетом психофизических особенностей ребят.
                                    В программе используются технология исследовательского обучения, которые помогают преодолеть господство «знаниевого» подхода в пользу «деятельностного», позволяющего продуктивно усваивать знания, учиться их анализировать, сделать их более практико-ориентированными.</p>
							</article>

                        <!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2> Новый шаг в науку </h2>
									</div>
								</header>
								<a href="#" class="image featured"><img src="{% static 'main/img/n2.jpg' %}" alt="" /></a>
								<p> В конце мая ученики нашей лаборатории Дьяконов Дмитрий и Хачатурян Марк подготовили видеопрезентацию на областную выставку лучших работ по техническому творчеству среди обучающихся образовательных организаций Московской области.
                                            За основу своей работы они взяли лазерный спирограф для генерации трёхцветных динамических лучевых композиций, выполнили действующей макет и рассказали о нём членам жюри.
                                            С помощью своей разработки ребята планируют устраивать лазерные шоу, а так же использовать её для проведения небольших дискотек и семейных праздников.</p>
							</article>


                         <!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2>Гости для будущего</h2>
									</div>
								</header>
								<a href="#" class="image featured"><img src="{% static 'main/img/n1.jpg' %}" alt="" /></a>
								<p>1 июля 2022 г. МАОУ СОШ 2 имени Н.А.Тимофеева г.о.Бронницы посетил с рабочим визитом Бронштейн И.М., министр образования Московской области.
                                    Цель визита - изучение опыта работы лазерной лаборатории с целью распространения опыта школы на территории Московской области как принципиально новый подход в разработке индивидуальных траекторий реализации учебных программ.</p>
							</article>

    <!-- Pagination -->
							<ul class="actions pagination">
								<li><a href="" class="disabled button big previous">Предыдущая страница</a></li>
								<li><a href="#" class="button big next">Следующая страница</a></li>
							</ul>
{% endblock %}